* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
a{
  color: #000;
  font-weight: 500;
}
p{
  font-weight: 600;
  font-size: 11px;
}
span{
  font-size: 14px;
}
hr{
  color: #888;
  width: 1720px;
}
h2{
  font-weight: 400;
  font-size: 14px;
  
}
#wrap{
  width: 1720px; height: 2238px;
  margin: 0 auto;
  z-index: 1;
}
/* .clearfix::after{
  content: "";
  display: table;
  clear: both;
} */




/* header */
header{
  width: 1720px; height: 121px;
  position: fixed; 
  top: 0; left: 50%;
  margin: 0 auto;
  transform: translateX(-50%);
  z-index: 4;
  background-color: #fff;
}
header h2{
  width: 192px; height: 26px;
  float: left;
  margin-top: 18px; margin-left: 26px;
}
header h2>a>img{
  width: 100%; height: 100%;
}
/* nav .gnb */
header nav{
  margin-left: 246px;
}
header .gnb{
  width: 905px; height: 72px;
}
header .gnb>li>a{
  display: block;
  width: 162px;
  text-align: center;
  font-size: 18px;
}
header .gnb > li{
  float: left; width: 150px;
  margin-left: 10px; margin-top: 22px;
}
header .gnb > li:hover{
  text-decoration: underline;
}
/* nav .sub */
header .sub{
  width: 100%;
  height: 300px;
  background-color: #fff;
  display: none;
}
header .sub > li{
  padding-top: 30px;
  text-align: center;
}

/* nav... */
header .gnb .n1{
  margin-left: 10px;
}
header .gnb .n2{
  margin-left: 6px;
}
header .gnb .n3{
  margin-left: -11px;
}
header .gnb .n4{
  margin-left: -19px;
}
header .gnb .n5{
  margin-left: 10px;
}
header .gnb .n6{
  margin-left: 7px;
}

/* search */
header .searchBox{
  position: absolute; top: 15px; right: 100px;
  width: 300px; height: 40px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #333;
  display: flex;
  align-items: center;
}
header .searchBt{
  float: left;
  width: 23px; height: 23px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin-bottom: 3px;
}
header .searchBt img{
  width: 100%; height: 100%;
  display: block;
}
header .searchText{
  border: none;
  background: none;
  outline: none;
  padding: 0 10px;
  color: #888;
  font-size: 12px;
  line-height: 13px;
  flex-grow: 1;
  /* width: 200px; */
}

header .icon{
  position: absolute;
  top: 15px; right: 6px;
  z-index: 5;
}
header .icon a{
  display: block;
  width: 23px; height: 23px;
  float: right;
  margin: 10px;
}
header .icon>a>img{
  width: 100%; height: 100%;
}


header .bottomMeun{
  display: flex;
  width: 500px;
  margin-left: -3px;
  margin-top: 7px;
}
header .bottomMeun h2{
  font-size: 16px;
  display: block;
  width: 63px;
  text-align: center;
  margin-top: 3px;
  margin-right: 30px;
}

header .bottomMeun ul{
  display: flex;
  /* 가로 정렬  */
  justify-content: center;
  padding: 0;
}
header .bottomMeun ul > li{
  margin: 0 5px

}
header .bottomMeun li a{
  display: flex;
  text-align: center;
  background-color: #eae8e8;
  font-size: 12px;
  width: 79px; height: 32px;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
}

/* main */
main{
  width: 1720px;
  /* height: 6660px; */
  /* position: relative; */
  /* z-index: 2; */
  margin-top: 121px;
}
main .mh2{
  display: block;
  /* background-color: #888; */
  margin-top: 16px;
}
main .mp{
  display: block;
  /* background-color: #888; */
  margin-top: 10px;
}
main span{
  display: inline-block;
  /* background-color: #888; */
  margin-top: 20px;
}
main .plus{
  display: inline-block;
  /* background-color: #888; */
  float: right; margin-top: 20px;
}

/* 65 */
main .Frame_65{
  width: 1720px;
  height: 841px;
  display: flex;
}

main .m65_000{
  position: relative;
  width: 574px; height: 841px;
}
main .m65_000Text{
  padding: 0 15px;
}
main .m65_000F{
  width: 100%; height: 715px;
}
main .m65_000F img{
  width: 100%; height: 100%;
}
main .shopBag1{
  position: absolute; top: 17px; right: 18px;
  width: 29px; height: 29px;
  background-color: #333;
  border: #fff solid 1px;
  border-radius: 50%;
}
main .shopBag1 a{
  display: block;
}
main .shopBag1 a img{
  width: 18px; height: 18px;
  margin: 4px 5px;
}

main .m65_7{
  position: relative;
  width: 574px; height: 841px;
}
main .m65_7Text{
  padding: 0 15px;
}
main .m65_7F{
  width: 100%; height: 715px;
}
main .m65_7F img{
  width: 100%; height: 100%;
}
main .shopBag2{
  position: absolute; top: 17px; right: 18px;
  width: 29px; height: 29px;
  background-color: #333;
  border: #fff solid 1px;
  border-radius: 50%;
}
main .shopBag2 a{
  display: block;
}
main .shopBag2 a img{
  width: 18px; height: 18px;
  margin: 4px 5px;
}

main .m65_421{
  position: relative;
  width: 574px; height: 841px;
}
main .m65_421Text{
  padding: 0 15px;
}
main .m65_421F{
  width: 100%; height: 715px;
}
main .m65_421F img{
  width: 100%; height: 100%;
}
main .shopBag3{
  position: absolute; top: 17px; right: 18px;
  width: 29px; height: 29px;
  background-color: #333;
  border: #fff solid 1px;
  border-radius: 50%;
}
main .shopBag3 a{
  display: block;
}
main .shopBag3 a img{
  width: 18px; height: 18px;
  margin: 4px 5px;
}


/* 30 */
main .Frame_30{
  width: 1720px;
  height: 841px;
  display: flex;
}

main .m30_7{
  position: relative;
  width: 574px; height: 841px;
}
main .m30_7Text{
  padding: 0 15px;
}
main .m30_7F{
  width: 100%; height: 715px;
}
main .m30_7F img{
  width: 100%; height: 100%;
}
main .shopBag4{
  position: absolute; top: 17px; right: 18px;
  width: 29px; height: 29px;
  background-color: #333;
  border: #fff solid 1px;
  border-radius: 50%;
}
main .shopBag4 a{
  display: block;
}
main .shopBag4 a img{
  width: 18px; height: 18px;
  margin: 4px 5px;
}

main .m30_000{
  position: relative;
  width: 574px; height: 841px;
}
main .m30_000Text{
  padding: 0 15px;
}
main .m30_000F{
  width: 100%; height: 715px;
}
main .m30_000F img{
  width: 100%; height: 100%;
}
main .shopBag5{
  position: absolute; top: 17px; right: 18px;
  width: 29px; height: 29px;
  background-color: #333;
  border: #fff solid 1px;
  border-radius: 50%;
}
main .shopBag5 a{
  display: block;
}
main .shopBag5 a img{
  width: 18px; height: 18px;
  margin: 4px 5px;
}

main .m30_421{
  position: relative;
  width: 574px; height: 841px;
}
main .m30_421Text{
  padding: 0 15px;
}
main .m30_421F{
  width: 100%; height: 715px;
}
main .m30_421F img{
  width: 100%; height: 100%;
}
main .m30_421 .mh2{
  margin-top: 20px;
}
main .shopBag6{
  position: absolute; top: 17px; right: 18px;
  width: 29px; height: 29px;
  background-color: #333;
  border: #fff solid 1px;
  border-radius: 50%;
}
main .shopBag6 a{
  display: block;
}
main .shopBag6 a img{
  width: 18px; height: 18px;
  margin: 4px 5px;
}


/* tap meun */
main .tap{
  position: fixed;
  right: 100px; bottom: 100px;
  width: 70px; height: 70px;
  border-radius: 30%;
}
main .logoBtn{
  width: 100%; height: 100%;
  border-radius: 30%;
  position: absolute; right: 0; top: 0;
  z-index: 1;
}
main .logoBtn img{
  width: 100%; height: 100%;
  border-radius: 30%;
}

main .meun{
  width: 70px; height: 70px;
  position: absolute; top: 0; right: 0;
  overflow: hidden;
  transition: width 1s ease;
  display: flex;
  background-color: #000;
  border-radius: 23px;
}
main .meunF{
  width: 126px; height: 38px;
  display: flex;
  margin: 15px;
}

main .meun1{
  width: 40px; height: 40px;
  /* padding: 5px; */
  /* background-color: red; */
}
main .meun1 a img{
  width: 23px; height: 23px;
  margin-left: 8px;
}
main .meun1 p{
  font-size: 7px;
  display: block;
  color: #fff;
  margin-left: 4px;
  margin-top: 3px;
}

main .meun2{
  width: 40px; height: 40px;
  /* background-color: #333; */
  
}
main .meun2 a img{
  width: 23px; height: 23px;
  margin-left: 10px;
  /* background-color: #fff; */
}
main .meun2 p{
  font-size: 7px;
  display: block;
  color: #fff;
  margin-left: 12px;
  /* background-color: #888; */
  margin-top: 3px;
}

main .meun3{
  width: 41px; height: 40px;
  /* background-color: aliceblue; */
  margin-left: 5px;
}
main .meun3 a img{
  width: 24px; height: 24px;
  margin-left: 7px;
  margin-top: 3px;
  /* background-color: #888; */
}
main .meun3 p{
  font-size: 7px;
  display: block;
  color: #fff;
  /* background-color: #eae8e8; */
}

/* footer */
footer{
  width: 1720px;
  height: 494px;
  clear: both;
}
footer p{
  font-size: 10px;
}

footer .fGnb{
  width: 693px;
  height: 250px;
  margin-left: 50px;
}
footer .fGnb > li a{
  display: block;
  font-size: 12px;
}
footer .fGnb > li{
  float: left; 
  margin-left: 10px;
  margin-top: 77px;
}

footer .fGnb .fn2{
  margin-left: 100px;
}
footer .fGnb .fn3{
  margin-left: 100px;
}
footer .fGnb .fn4{
  margin-left: 100px;
}

footer .fSub{
  margin-top: 40px;
}
footer .fSub > li{
  margin-bottom: 15px;
}

footer .footerBottom{
  position: relative;
  width: 1720px;
  margin-top: 100px;
}


footer .footerBottom .footerBottom1{
  width: 1720px;
  height: 83px;
}
footer .fP1{
  float: left;
  display: block;
  padding: 29px;
}
footer .footerBottom a{
  text-decoration: underline;
}
footer .fP2{
  float: right;
  display: block;
  padding: 28px;
}

footer .fP3{
  display: block;
  padding: 10px; margin: 10px;
  width: 100px; height: 30px;
}
footer .fP4{
  position: absolute;
  top: 108px; right: 25px;
  display: block;
  width: 120px; height: 30px;
  font-size: 12.5px;
  float: right;

}
footer .fP4 img{
  width: 12px; height: 12px;
}